# Import these variables in Netlify/Nestify project settings.
# Replace the Strapi URL with your public CMS URL before deploying.
NEXT_PUBLIC_GOOGLE_CLIENT_ID=168582883273-7r9hgl9s6o382tu7kn3qsigrlkofmfil.apps.googleusercontent.com
NEXT_PUBLIC_STRAPI_URL=https://YOUR-PUBLIC-STRAPI-URL.example.com
